<div class="backdrop-burger">
  <div class="modal-burger">
    <div class="modal-user">
      <img src="/src/images/head-images/Stiven-face.webp" alt="modal-user" />
      <h2 class="modal-user_title">Stephen</h2>
    </div>
    <ul class="section-burger_list">
      <li class="section-burger_item">
        <a href="#" class="btn-home" data-btn="btn-home">HOME</a>
      </li>
      <li class="section-burger_item-cart">
        <a href="#" class="shopping-click">
          <span class="modal-shoping link">Shopping list</span>
          <svg width="20" height="20" class="svg-cart_white">
            <use href="./images/sprite.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="section-burger_SingUp">
      Sign up
      <span class="modal-icon"
        ><svg width="20" height="20" class="svg-cart_white">
          <use href="./images/sprite.svg#icon-arrow-login"></use></svg
      ></span>
    </button>
    <button class="section-burger_logOut">
      Log out
      <span class="modal-icon"
        ><svg width="20" height="20" class="svg-cart_white">
          <use href="./images/sprite.svg#icon-arrow-login"></use></svg
      ></span>
    </button>
  </div>
</div>
