<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>burgerMenu</title>
  </head>
  <body>
    <section class="section-burger">
      <div class="backdrop-burger">
        <div class="modal-burger">
          <ul class="section-burger_list">
            <li class="section-burger_item">
              <button class="btn-home" type="button" data-btn="btn-home">
                HOME
              </button>
            </li>
            <li class="section-burger_item">
              <a href="#" class="section-burger_shopingList">SHOPING LIST</a>
            </li>
          </ul>

          <button class="section-burger_logOut">Log out</button>
        </div>
      </div>
    </section>
  </body>
</html>
