<!-- список книг -->
<div class="container-books">
    <h1 class="title-container-topBooks">Best sellers <span class="title_blue"> books </span></h1>
    <!-- <ul class="content_item">
        <span id="content_kategory_name">назва категорії</span>
        <li class="party_topBooks"> 

           <a class="content__link" href="${event.largeImageURL}" >
             <img class="content__image" src="${event.webformatURL}" alt="${event.tags}" loading="lazy"  />
           </a>
           <div class="content-info">
            <span id="content_book_name">назва книги</span>
            <span id="content_book_author">автор книги</span>
            </div>
        </li> 
    </ul> -->
</div>