<!-- список книг -->

<div class="container-books">
  <!-- <h1 class="title-container-topBooks">Best sellers <span class="title_blue"> books </span></h1>
    <ul class="content_list_categories">    
      <li><span>імя категорії</span>
        <ul class="content_list_topBooks">
            <li id="${book._id}" class="content_book">
            <a  href="${book.book_image}" >
            <img class="content__image" src="${book.book_image}" alt="${book.title}" loading="lazy" />
          
            <p id="content_book_name">назва книги</p>
            <p id="content_book_author">автор книги</p>
              </a>
          </li>
          
       </ul>
          <div class="content_container_btn">
                <button type="button" class="content_btnSeeMore" action="submit">SEE MORE</button>
         </div>
       </li>
    </ul> -->
</div>
