<section class="footer">

    <div class="footer-cover">
        <button class="footer-button" type="button"  >Developers</button>
    </div>

  
        <div class="developer" id="_0" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_1" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_2" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_3" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_4" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_5" data-number="5">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-logotype"></use>
            </svg>
        </div>

        <div class="developer" id="_6" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_7" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_8" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_9" data-number="0">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer" id="_10" data-number="10">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>
    <div class="footer-pointer pointer-hidden">
        <p>Scroll</p>
    </div>

    <div class="footer-inform inform-hidden">
        <p class="footer-inform-name">Jeck Willson</p>
        <p class="footer-inform-section">Footer</p>
        <p class="footer-inform-git">//gihub.com</p>
    </div>

</section>