<section class="footer">
  <div class="footer-cover container">
    <div class="footer-decor">
      <p class="footer-title">CodeCrafters</p>

      <button class="footer-button" type="button">
        <img src="./images/coat-webp.webp" alt="team coat" class="coat-image" />
      </button>
    </div>
  </div>

  <button class="footer-left" type="button">Left</button>
  <button class="footer-right" type="button">Right</button>
  <div class="team-container">
    <div class="developer back-img-0" id="_0" data-number="0"></div>

    <div class="developer back-img-1" id="_1" data-number="0"></div>

    <div class="developer back-img-2" id="_2" data-number="0"></div>

    <div class="developer back-img-3" id="_3" data-number="0"></div>

    <div class="developer back-img-4" id="_4" data-number="0"></div>

    <div class="developer back-img-5" id="_5" data-number="5"></div>

    <div class="developer back-img-6" id="_6" data-number="0"></div>

    <div class="developer back-img-7" id="_7" data-number="0"></div>

    <div class="developer back-img-8" id="_8" data-number="0"></div>

    <div class="developer back-img-9" id="_9" data-number="0"></div>

    <div class="developer back-img-10" id="_10" data-number="10"></div>
  </div>
  <div class="footer-pointer pointer-hidden">
    <p>Scroll</p>
  </div>

  <div class="footer-inform inform-hidden">
    <p class="footer-inform-name font"></p>
    <p>----------------</p>
    <p class="footer-inform-position"></p>
    <p class="footer-inform-section"></p>
    <p class="footer-inform-git"></p>
  </div>
</section>
