<section class="footer">

    <div class="footer-cover">
        <button class="footer-button" type="button"  >Developers</button>
    </div>

    <div class="team-gallery">
        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>

        <div class="developer">
            <svg class="developer-icon" width="32px" height="32px">
                <use href="./images/sprite.svg#footer-icon"></use>
            </svg>
        </div>
    </div>

</section>