<header class="header">
  <nav class="section-one ">
    <ul class="header-nav">
        <li>
          <a class="header-link link" href="./index.html">Bookshelf</span></a>
        </li>
        <li class="li-header-margin">
          <a class="header-home current link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="header-shopping link" href="./shopping.html">Shopping list</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="themetoggle">Light
       <svg class="icon-pic" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger-svg"></use>
     </svg>
    </a>
    

    <!-- <a href="" class="themetoggle">
      <svg class="icon-pic" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger-svg"></use>
     </svg>
    </a> -->
  </div>
</header>
