<header class="header">
  <div class="container header-container">
    <nav class="section-one">
      <ul class="header-nav">
        <li>
          <a href="" class="logo-block">
            <svg width="24" height="24">
              <use href="./images/sprite.svg#icon-logotype"></use>
            </svg>
            <span class="header-link" href="./index.html">Bookshelf</span>
          </a>
        </li>
        <li class="li-header-margin">
          <a class="header-home header-selected-page" href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a href="./shopping.html" class="logo-block hideshopcard js-shop-btn">
            <span class="header-shopping link">Shopping list</span>
            <svg width="20" height="20" class="svg-cart">
              <use href="./images/sprite.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <a href="#" class="themetoggle">
      <div class="themetoggleswitch"></div>
    </a>

    <a href="" class="js-cross-switch">
      <svg width="28" height="28" class="burger-head">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
      <svg width="28" height="28" class="burger-cross header-switch-hidden">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </a>

    <a href="" class="head-logged-btn" id="head-logged-steven" style="display:none;"
      ><span class="head-username">Stephen</span>
      <svg width="23" height="26">
        <use href="./images/sprite.svg#icon-header-arrow"></use>
      </svg>
    </a>
    <a href="" class="head-signup-btn" id="head-signup-btn" style="display:none;"
      ><span class="head-signup-span">Sign up</span>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-arrow-login"></use>
      </svg>
    </a>
    <!-- <a href="" class="head-loggedup-btn"
      ><span class="head-loggedup-span">Log out</span>
      <svg width="20" height="20">
        <use href="./images/sprite.svg#icon-arrow-login"></use>
      </svg> -->
    </a>
  </div>
</header>
