<div class="loginBacdropLogIn isHidden">
  <div class="loginModal">
    <button class="loginClose" type="button">
      <svg class="loginCloseIcon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <form id="formUp" class="loginForm">
        <div class="nameCont">
          <input
            id="name"
            class="loginInput"
            type="text"
            name="name"
            placeholder="NAME"
            autocomplete="off"
          />
        </div>
        <div class="loginInputCont">
          <input
            id="email"
            class="loginInput"
            type="email"
            name="email"
            placeholder="EMAIL"
            autocomplete="off"
          />
          <svg class="loginInputIcon" width="24" height="24">
            <use href="./images/login-svg/login-sprite.svg#icon-mail-02"></use>
          </svg>
        </div>
        <div class="loginInputCont">
          <input
            id="pass"
            class="loginInput"
            type="password"
            name="pass"
            placeholder="PASSWORD"
            autocomplete="off"
          />
          <svg class="loginInputIcon password" width="24" height="24">
            <use href="./images/login-svg/login-sprite.svg#icon-lock-02"></use>
          </svg>
        </div>
        <button class="loginBtn" type="submit">
          <span class="loginBtnText">SING UP</span>
        </button>
      </form>
    </div>
    <div class="loginBottom">
      <button class="sUpBtb active" type="button">SING UP</button>
      <button class="sInBtb" type="button">SING IN</button>
    </div>
  </div>
</div>
