<div class="bacdropLogIn">
  <div class="modalLogIn">
    <form
      id="formUp"
      class="logForm"
      style="display: flex; flex-direction: column"
    >
      <label id="nameLabel"
        ><input id="name" type="text" name="name" />name</label
      >
      <label><input id="email" type="email" name="email" />email</label>
      <label><input id="pass" type="password" name="pass" />password</label>
      <button class="btnLog" type="submit">
        <span class="btnLog-text" style="background-color: red">LogUp</span>
      </button>
    </form>
    <div>
      <button class="sUpBtb" type="button">SING UP</button>
      <button class="sInBtb" type="button">SING IN</button>
    </div>
  </div>
</div>
