<!-- Modal windows -->
<!-- Overlay for Modal windows -->
<div class="book-overlay js-book-overlay-modal block-jump" data-modal></div>
<!-- ModalBook window -->
<div class="modal-book hidden block-jump" data-modal="1">
  <button type="button" class="modal-btn-close js-modal-close" data-modal-close>
    <svg class="modal-btn-close-icon" width="24" height="24">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <div class="modal-book-wrap">
    <div class="modal-book-img-wrap">
      <!-- <img src="./images/shopping-list/Books.png" alt="no image" /> -->
    </div>
    <div class="modal-book-details">
      <!-- <h1 class="modal-book-title">HELLO BEAUTIFUL</h1>
      <h2 class="modal-book-author">Ann Napolitano</h2>
      <p class="modal-book-review">
        In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
        past resurfaces as he gets to the know the family of his college
        sweetheart.
      </p>
      <ul class="modal-book-buy-list">
        <li>
          <a href="#" target="_blank"
            ><svg width="24" height="24">
              <use href="./images/modal-logo/bi_book.svg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg width="24" height="24">
              <use href="./images/modal-logo/bi_book.svg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg width="24" height="24">
              <use href="./images/modal-logo/bi_book.svg"></use>
            </svg>
          </a>
        </li>
      </ul> -->
    </div>
  </div>

  <button type="submit" class="modal-btn-status">
    add to shopping list
  </button>
  <span class="modal-btn-status-text">
    Сongratulations! You have added the book to the shopping list. To delete,
    press the button “Remove from the shopping list”.
  </span>
</div>
