 <!-- Leave a review -->
 <section class="section">
    <h2 class="review-title">Leave a review</h2>

    <div class="container review-container">  
        <form class="review-form" action="">
            <input class="review-input" name="user" type="User name" placeholder="Your name"  maxlength="20">
            <textarea class="review-textarea" name="comment" id="user-comment" maxlength="300" placeholder="Enter feedback here"></textarea>  
            <button class="review-send-button" type="submit">Send</button>
            <div class="review-text">

            </div>
        </form>
    </div>
</section>