.content {
  width: 100%;
  background-color: yellow;
}

/* кнопка */
.content_btnSeeMore {
  display: block;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 40px;

  width: 124px;
  height: 46px;
  border-radius: 40px;
  border: 2px solid var(--primary-stilization-color);
  padding: 14px, 28px, 14px, 28px;
  /* background-color: red; */
}

.hidden{
    display: none;
}

/* заголовок */
.title-container-topBooks{
  margin-bottom: 40px;
}

.content_category{
  color: var(--color-name-category);
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  
}

.content_list_topBooks{ 
  margin-top: 18px;
}

.title_blue{
  color: var(--primary-stilization-color);
}

.content_book_name{
  font-weight: 700px;
font-weight: 16px;
line-height: 18px;
/* -4 */
letter-spacing: 0.02em;
margin-bottom: 4px;
}

.content_book_author{
   font-weight: 400px;
   font-size: 12px;
   line-height: 14px;
   /* -4 */
  letter-spacing: 0.02em; 
}
/* картинка книги */
.content__image {
  width: 100%;
  margin-bottom: 14px;
}


/* tablet styles * для планшетів */
@media (min-width: 768px) {
  .content_book {
    width: calc((100% - 50px) / 3);
    /* width: 100%; */
  }

  .content_list_topBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* для більших за планшет */
@media (min-width: 1148px) {
  .content_book {
    width: calc((100% - 72px) / 5);
  }
  .content_list_topBooks {
    display: flex;
    /* flex-wrap: wrap; */
     justify-content:flex-start;
  flex-wrap: wrap;
  column-gap: 15px;
  }

.content_list_topBooks{ 
  
}
}
