.content{
    /* width: 100%; */
    background-color: yellow;
}

.content_item{
    width: 100%;
}


.content__image{
    width: 100%;
    /* height: 485px; */
}
.content-info{
    display: block;
}

/* заголовок */
.title-container-topBooks{
    margin-bottom: 40px;
}

/* синя частина заголовка*/
.title_blue{
    color: var(--primary-stilization-color);
}

/* категорія книг */
.content_kategory_name{
    margin-bottom: 18px;
}

.hidden{
    display: none;
}

.hidden{
    display: none;
}
/* кнопка SEE MORE */



.content_btnSeeMore{
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 40px;

    width: 124px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid var(--primary-stilization-color);
    padding: 14px, 28px, 14px, 28px;
    /* background-color: red; */
}

.content-error{
    width: 200px;
    height: 200px;
    background-color: red;
}

/* заголовок категорії */
.content_category{
    margin-bottom: 18px;
}

.content_list_topBooks{
    margin-bottom: 10px;

}

/* media */
@media screen and (min-width: 374px){
     .content_image{
    height: 316px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px){

}

@media screen and (max-width: 767px){
       .content_image{
    width: calc((100% / 3)- 4*32 );
    height: 316px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px){
    .content_list {
    display: flex;
  }

  .content_item{
    width: calc(100% / 3);
}
.content_book{
    width: 218px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content_list_topBooks{
  display: flex;
  justify-content: flex-start;
}

.content__image{ 
  width: calc((100% / 5) - (6*24)) ; 
  height: 256px;
}

}