.funds-wrapper {
  width: 335px;
  height: 474px;
  background-color: aqua;
}

.funds-title {
  display: flex;
  align-items: center;
}

/* .funds-title-text {
    color: var(
} */

.fund-image {
  filter: brightness(0) invert(1);
}
