:root {
  --primary-color-text: #111;
  --primary-color-text-dark-theme: #fff;
  --header-background-color: #fff;
  --header-background-color-dark-theme: #111;
  --main-background-color: #f6f6f6;
  --main-background-color-dark-theme: #202024;
  --primary-stilization-color: #4f2ee8;
  --secondary-stilization-color: #eac645;
  --content-count: 1;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-medium.woff2') format('woff2'),
    url('../fonts/dm-sans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-bold.woff2') format('woff2'),
    url('../fonts/dm-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-italic-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-italic-regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 374px) {
  .container {
    width: 100%;
  }
 
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .content_list{
    display: flex;
  }
  
  .content_item{
    width: calc(100% / 4);
}
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
