.shopping-body {
  background-color: var(--main-background-color);
}

.shopping-list-wrapper {
  width: 100%;
}

.shopping-list {
  margin-bottom: 20px;
}

.shopping-list-title {
  color: var(--primary-color-text);
  font-size: 32px;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: -1.28px;

  margin-bottom: 120px;
}

.title-list {
  color: var(--primary-stilization-color);
}

.shopping-list-is-empty-message {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.shopping-list-is-empty-text {
  width: 244px;

  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}

.shopping-list-is-empty-img {
  background: lightgray 50%, url(../images/shopping-list/Books.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 265px;
  height: 198px;
}

.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-list-item {
  display: flex;
  gap: 14px;
  width: 335px;
  height: 170px;
  padding: 14px;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--primary-color-text-dark-theme);
}

.shopping-list-item-content-wrapper {
  width: 100%;
}

.shopping-list-item-img {
  border-radius: 8px;
}

.shopping-list-item-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.shopping-list-item-title {
  color: var(--primary-color-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.shopping-list-item-category {
  color: #b4afaf;
  font-size: 12px;
  line-height: 116.667%;
  letter-spacing: 0.36px;
}

@media screen and (max-width: 767px) {
  .shopping-list-item-title {
    width: 144px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shopping-list-item-category {
    width: 165px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shopping-list-item-author {
    width: 97px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shopping-list-item-description {
    width: 193px;
  }
}

.delete-btn-icon {
  width: 16px;
  height: 16px;
}

.shopping-list-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #4f2ee8;
  border-radius: 50%;
  cursor: pointer;
}

.shopping-list-item-description {
  height: 68px;
  overflow: auto;
  color: var(--primary-color-text);
  font-size: 14px;
  line-height: 128.571%;
  letter-spacing: -0.56px;

  margin-bottom: 14px;
}

.shopping-list-item-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.shopping-list-item-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  line-height: 116.667%;
  letter-spacing: -0.48px;
}

.shopping-list-buy-links-list {
  display: flex;
  gap: 8px;
  align-items: center;
}

.shopping-list-buy-link {
  display: block;
}

.shopping-list-buy-link-img {
  filter: grayscale(100%);
}

.shopping-list-buy-link-img:hover,
.shopping-list-buy-link-img:focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

@media screen and (max-width: 374px) {
  .shopping-list-item {
    width: 100%;
  }

  .shopping-list-item-title {
    width: 110px;
  }

  .shopping-list-item-category {
    width: 110px;
  }

  .shopping-list-item-description {
    width: 140px;
  }

  .shopping-list-item-author {
    width: 70px;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list {
    margin-bottom: 40px;
  }

  .shopping-list-title {
    font-size: 48px;
    line-height: 108.333%;
    letter-spacing: -1.92px;
    margin-bottom: 140px;
  }

  .shopping-list-is-empty-message {
    gap: 20px;
  }

  .shopping-list-is-empty-text {
    width: 349px;
    font-size: 18px;
    line-height: 133.333%;
    letter-spacing: -0.36px;
  }

  .shopping-list-is-empty-img {
    width: 322px;
    height: 241px;
  }

  .shopping-list-item {
    gap: 24px;
    width: 100%;
    height: 213px;
    padding: 24px;
  }

  .shopping-list-item-img {
    width: 116px;
    height: 165px;
  }

  .delete-btn-icon {
    width: 18px;
    height: 18px;
  }

  .shopping-list-delete-btn {
    width: 34px;
    height: 34px;
  }

  .shopping-list-buy-links-list {
    gap: 16px;
  }

  .shopping-list-buy-link-img.amazon {
    width: 48px;
    height: 15px;
  }

  .shopping-list-buy-link-img.apple-book {
    width: 28px;
    height: 27px;
  }

  .shopping-list-buy-link-img.bookshop {
    width: 32px;
    height: 30px;
  }

  .shopping-list-item-head {
    margin-bottom: 14px;
  }

  .shopping-list-item-description {
    margin-bottom: 32px;
    width: 508px;
    height: 53px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list-item-description {
    width: 808px;
  }

  .shopping-list-wrapper {
    margin-left: 40px;
  }
}

body.dark {
  background-color: var(--main-background-color-dark-theme);
}

body.dark .shopping-list-title {
  color: var(--primary-color-text-dark-theme);
}

body.dark .shopping-list-is-empty-text {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .shopping-list-item {
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: var(--header-background-color-dark-theme);
}

body.dark .shopping-list-item-title {
  color: var(--primary-color-text-dark-theme);
}

body.dark .shopping-list-item-description {
  color: var(--primary-color-text-dark-theme);
}

body.dark .shopping-list-buy-link-img {
  filter: grayscale(100%);
}

body.dark .shopping-list-buy-link-img.amazon {
  filter: brightness(0) invert(1);
}

body.dark .shopping-list-buy-link-img:hover,
body.dark .shopping-list-buy-link-img:focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.dark .shopping-list-buy-link-img.amazon:hover,
body.dark .shopping-list-buy-link-img.amazon:focus {
  filter: brightness(0) invert(1)
    drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

/* Pagination */

#pagination {
  display: flex;
  justify-content: center;
}

#pagination .pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  border: 1px solid var(--primary-color-text);
  border-radius: 50%;
  background-color: transparent;

  color: var(--primary-color-text);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.222%;

  margin-right: 8px;
  margin-left: 0;
}

#pagination .tui-is-selected {
  background-color: var(--primary-color-text);
  color: var(--primary-color-text-dark-theme);
}

#pagination .tui-first,
#pagination .tui-prev,
#pagination .tui-next,
#pagination .tui-last {
  background-color: #eac645;
  color: var(--primary-color-text);
}

#pagination .tui-first,
#pagination .tui-next {
  margin-right: 8px;
}

#pagination .tui-prev,
#pagination .tui-last-child {
  margin-right: 14px;
}

#pagination .tui-is-disabled {
  background-color: var(--primary-color-text);
}

#pagination .tui-ico-ellip {
  background: none;
  /* font-size: 20px;
  height: 20px; */
  display: flex;
  justify-content: center;
  content: '...';
  color: black;
}

@media screen and (max-width: 767px) {
  #pagination .tui-ico-ellip {
    font-size: 10px;
    height: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  #pagination .tui-ico-ellip {
    font-size: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 1440px) {
  #pagination .tui-ico-ellip {
    font-size: 20px;
    height: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  #pagination .pagination-page {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  #pagination .tui-first,
  #pagination .tui-next {
    margin-right: 8px;
  }

  #pagination .tui-prev,
  #pagination .tui-last-child {
    margin-right: 24px;
  }
}

body.dark #pagination .pagination-page {
  color: var(--primary-color-text-dark-theme);
  border-color: var(--primary-color-text-dark-theme);
}

body.dark #pagination .tui-first,
body.dark #pagination .tui-prev,
body.dark #pagination .tui-next,
body.dark #pagination .tui-last {
  border-color: var(--primary-color-text);
}

body.dark #pagination .tui-is-selected {
  background-color: var(--primary-color-text-dark-theme);
  color: #000;
}

body.dark #pagination .tui-ico-ellip {
  color: white;
}
