@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick.css';
/* .slick-prev {
  display: none;
} */
.carousel__link {
  width: 100%;
}

.slick-next {
  background-color: white;
  bottom: -50px;
  border-radius: 50%;
  position: absolute;

  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media screen and (max-width: 767px) {
  .slick-next {
    bottom: -50px;
  }
} */

.slick-arrow.slick-next::before {
  display: table;
}

.slick-slide {
  transition: 250ms linear;
}

.slick-icon {
  fill: var(--primary-stilization-color);
  transform: rotate(180deg);
}

.slick-slide {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .slick-next {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .slick-next {
    width: 38px;
    height: 38px;
  }

  .slick-icon {
    width: 20px;
    height: 20px;
  }
}
