.head-logged-btn.photo-is-loaded .user-photo-icon {
  display: none;
}

.head-logged-btn.photo-is-loaded .header-user-photo {
  display: block;
}

.header-user-photo {
  display: none;
}

.modal-user.photo-is-loaded .user-photo-container {
  display: none;
}

.user-image-burger {
  display: none;
}
.modal-user.photo-is-loaded .user-image-burger {
  display: block;
}

.user-image-burger,
.header-user-photo {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.add-photo-label-header,
.add-photo-label {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header-add-photo,
.photo-burger-btn {
  color: #111;
  letter-spacing: -0.56px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.photo-burger-btn {
  height: 48px;
  transition: 250ms linear;
}
